<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
 <% end %>
<%= form_with model: @post, local: true do |form| %>
	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title%><br>
	</p>
	<p>
		<%= form.label :data%><br>
		<%= form.text_area :data%>
	</p>
	<p>
		<%= form.submit%>
	</p>
<%end%>