<%= link_to 'Add New Post', new_post_path %>
<table>
	<tr>
		<th>User</th>
		<th>Title</th>
		<th>Text</th>
		<th colspan="2"></th>
	</tr>
	<% @posts.each do |post|%>
		<tr>
			<td><%= post.user.name %></td>
			<td><%= post.title%></td>
			<td><%= post.data %></td>
			<td><%= link_to 'Show',post_path(post)%></td>
			<% if post.is_post_owner? current_user %>
				<td><%= link_to 'Edit', edit_post_path(post)%></td> 
				<td><%= link_to 'Delete', post_path(post),method: :delete%></td>
			<%end%>
		</tr>
	<% end %>
</table>
<%= link_to 'Back', user_path(current_user) %>