<p>
	<strong><%= @post.user.name%></strong>
</p>
<p>
	<strong>Title:</strong>
	<%= @post.title%>
</p>
<p>
	<strong>Text:</strong>
	<%= @post.data%>
</p>
<p>
	<%= pluralize( @post.likes.size, "like") %>
	<%= link_to 'Like', post_likes_path(@post,current_user),method: :post,remote: true, id: "like-#{@post.id}"%>
</p>

<%= link_to 'Back', posts_path(current_user) %>